# Common files
*.c~
*.o
*.a
*.com
*.bin
*.map
*.lst
*.log
*.tmp
*.elf
*.sym
*.img
*.iso
*.vmdk
*.swp
*.save
*.user
*.gdbinit

# AI agents
CLAUDE.md
.claude/*

# Project
temp
boot-hd/exos.toml
tools/bin/*

# Node
node_modules
package.json
package-lock.json
