# Common files
*.c~
*.o
*.a
*.com
*.bin
*.map
*.lst
*.tmp
*.elf
*.sym
*.img
*.iso
*.vmdk
*.swp
*.save
*.user
*.gdbinit

# AI agents
.claude/*

# Project
temp
build
boot-hd/exos.toml
documentation/internal/kernel
log/*

# Node
node_modules
package.json
package-lock.json
