# Common files
*.c~
*.o
*.a
*.com
*.bin
*.map
*.lst
*.log
*.tmp
*.elf
*.img
*.iso
*.vmdk
*.swp
*.save
*.user
*.gdbinit

# AI agents
CLAUDE.md
.claude/*

# Project
temp
boot-qemu/kernel_sectors.inc
boot-limine/limine
boot-qemu-hd/exos.toml

# Node
node_modules
package.json
package-lock.json
